public

# Ignore the node_modules directory
node_modules/

# Ignore Logs
logs
*.log

# Ignore the build directory
/dist
/gitignore

# The file containing environment variables 
.env

# Ignore IDE specific files
.idea/
.vscode/
*.sw*

#Ignoring directory
/content/bash_profile_config.md
themes/LoveIt
